<!DOCTYPE html>

<HTML>

    <HEAD>

    <TITLE>Eric Hoffner</TITLE>

<meta charset="UTF-8">

<meta name="keyword" content="Professor Eric Hoffner,  True Believer,The True Believer: Thoughts on the Nature of Mass Movements, Eric Hoffer and the Power of Self-Education">

<meta name="Description" content=" the book explains the patterns and common threads among them. It’s an insightful book and reading it was a great learning experience for me.">

<meta name="Author Info"  content="Tibebe Solomon"

    </HEAD>

<body>


    <table align="right" >
    <thead>
   <td>
       <p>
        <a href="google.com" target="_blank"> <ins>Podcasts</ins>|  </a>  
        <a href="google.com" target="_self"><ins>Articles</ins>| </a> 
        <a href="google.com" target="_blank"> <ins>Ideas</ins>| </a> 
        <a href="google.com" target="_blank"> <ins>About Us</ins>| </a> 
        <a href="google.com" target="_blank"> <ins>Contact Us</ins> </a> 
       </p>
       </td>
     </thead>

    </table>

    <table>
    <td> 
        <img src="../../../resources/images/logo_gold.png" height="90px" width="70px">
   </td>



</table>

<hr>

<table  align="right">
     <thead >
         <td>
    <a href="">Go to Botom</a>
    </td>   
    </thead>

</table >




<table>
    <tr>  
    <td width="80%" valign="top">
        <h2>Register</h2>

<form>
    <label for="Fullname">Fullname</label><br>
        <input type="text" required maxlength="50" size="50%" id="Fullname" /><br>
    <label for="phone">Phone<br>
        <input id="phone" type="telephone" required  size="50%"/><br></label>
    <label for="age">Age<br>
        <input id="age" type="" max="100" min="18" required size="50%" /><br></label>
    <label for="color"> Your favourite color</label><br>
<input id="color" type="color" size="50%"/><br>
        
        <label for="date">
            BirthDate</label><br>
            <input id="date" type="date" size="50%"/><br>

    <label>Gender<br>
        <label for="male">Male</label><input type="radio" id="male" name="gender" value="Male">
        <label for="femlae" >Female</label><input type="radio" id="femlae" name="gender" value="Female">    
    </label>

    </br>
    
    <label for="password">password</label><br>
    <input id="password" type="password" required size="50%" minlength="6" maxlength="32" /><br></label><br>

    <label for="confirm">Confirm password</label><br>
    <input id="confirm" type="password" required size="50%"/><br></label><br>
    
    <label> Skills<br></label>
        
        <ul>

            <li><input type="checkbox" name="skills" id="html" value="html"/> <label for="html">html</label></label ></li>
            <li><input type="checkbox" name="skills" id="css"  value="css">   <label for="css">css</label></li>
            <li><input type="checkbox" name="skills" id="java" value="java">   <label for="java">java</label></li>
            <li><input type="checkbox" name="skills" id="php"  value="php">    <label for="php">php</label></li>
        </ul>
    

    <label>
        Ethiopia
        <select>
            <option>Ethiopia</option>
            <option>Germany</option>
            <option>Amsterdam</option>
        </select>
    </label>

    <label>
        <br>
        Photo<br>
        <input type="file"/>
    </label>

    <label for="description"><br> Describe yourself<br></label>
<textarea  rows="5" col="500" id="description">
    </textarea><br>
    <button>Submit</button> <button>Reset</button>


</form>



    </td>

<td valign="top">
    <p>
    <h2><big><b>Recent Posts</big></b></h2>
    
<ul>
    <li><b><big>Articles</big></b></li>
    </ul>
        <li>
            The Importance of Goals,
    Especially During Difficult
    Times
    </li>
    <li> 5 Steps to Discovering Your
    Life Purpose In 2022!
    </li>
    </li>
</ul>

    <ul><b>Ideas</b>
    <li>10 Books to Read in The Fall</li>
   <li>Top Web Development Projects</li>
    Ideas
</ul>



<h2>Most Viewed Articles</h2>

<ol>
<li>Instant Gratification Is Stopping You
    From Reaching Your Goals! 
</li>
<li>Stop Juggling Between Work And Life</li>
</ol>

<B>IP Project Winners</B>

    <pre>
----------------------------------
Rank Award
----------------------------------
First Free hosting and support
Second 5GB Mobile Data
Third 1GB Mobile Data
----------------------------------
</pre>
</p>
</td>
</tr>
</table>
    
<hr>  

<table align="left">
    <tr >
        <td >
            Follow Us On:<a href="facebook.com"> Facebook</a> | <a href="twitter.com">Twitter</a>
        </td>
</tr>
</table>

<table align ="right">
<tr>
        <td>
           <a href=""> Privacy</a> | <a href="" >Terms of Use</a>
        </td>
    </tr>
</table>

<br>

<table align="Center">
    <tr>
        <td>
            Copyright &copy; AASTU SEng 2021, All Rights Reserved
        </td>
    </tr>
</table>

    </body>
    
</HTML>