<!DOCTYPE html>

<HTML>

    <HEAD>

    <TITLE>Eric Hoffner</TITLE>

<meta charset="UTF-8">

<meta name="keyword" content="Professor Eric Hoffner,  True Believer,The True Believer: Thoughts on the Nature of Mass Movements, Eric Hoffer and the Power of Self-Education">

<meta name="Description" content=" the book explains the patterns and common threads among them. It’s an insightful book and reading it was a great learning experience for me.">

<meta name="Author Info"  content="Tibebe Solomon"

    </HEAD>

<body>


    <table align="right" >
    <thead>
   <td>
       <p>
        <a href="google.com" target="_blank"> <ins>Podcasts</ins>|  </a>  
        <a href="google.com" target="_self"><ins>Articles</ins>| </a> 
        <a href="google.com" target="_blank"> <ins>Ideas</ins>| </a> 
        <a href="google.com" target="_blank"> <ins>About Us</ins>| </a> 
        <a href="Register.html" target="_blank"> <ins>Register</ins> </a> 
       </p>
       </td>
     </thead>

    </table>

    <table>
    <td> 
        <img src="../../../resources/images/logo_gold.png" height="90px" width="70px">
   </td>



</table>

<hr>

<table  align="right">
     <thead >
         <td>
    <a href="">Go to Botom</a>
    </td>   
    </thead>

</table >




<table>
    <tr>  
    <td width="80%" valign="top">
        <h2>Sign In</h2>
<p>Sign in to get full access to our resources</p>

<form action="../LABEXER2.html">
Username <input type="email" placeholder="Email" required />
<br>

Password <input type="password" minlength="6" maxlength="32" placeholder="Password" required>
<br>

<input type="submit" />

<label for="inlineFrame"></label><br>

<iframe id="inlineFrame"
    title="Google Maps"
    width="300"
    height="200"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik"></iframe>
</iframe>

</form>
<br>



    </td>

<td valign="top">
    <p>
    <h2><big><b>Recent Posts</big></b></h2>
    
<ul>
    <li><b><big>Articles</big></b></li>
    </ul>
        <li>
            The Importance of Goals,
    Especially During Difficult
    Times
    </li>
    <li> 5 Steps to Discovering Your
    Life Purpose In 2022!
    </li>
    </li>
</ul>

    <ul><b>Ideas</b>
    <li>10 Books to Read in The Fall</li>
   <li>Top Web Development Projects</li>
    Ideas
</ul>



<h2>Most Viewed Articles</h2>

<ol>
<li>Instant Gratification Is Stopping You
    From Reaching Your Goals! 
</li>
<li>Stop Juggling Between Work And Life</li>
</ol>

<B>IP Project Winners</B>

    <pre>
----------------------------------
Rank Award
----------------------------------
First Free hosting and support
Second 5GB Mobile Data
Third 1GB Mobile Data
----------------------------------
</pre>
</p>
</td>
</tr>
</table>
    
<hr>  

<table align="left">
    <tr >
        <td >
            Follow Us On:<a href="facebook.com"> Facebook</a> | <a href="twitter.com">Twitter</a>
        </td>
</tr>
</table>

<table align ="right">
<tr>
        <td>
           <a href=""> Privacy</a> | <a href="" >Terms of Use</a>
        </td>
    </tr>
</table>

<br>

<table align="Center">
    <tr>
        <td>
            Copyright &copy; AASTU SEng 2021, All Rights Reserved
        </td>
    </tr>
</table>

    </body>
    
</HTML>